.about {
display: flex;
max-width: 80%;
}

.about p {
  color: white;
  font-size: 19px;
}

.about img {
  width: 50%;
  object-fit: contain;
  height: max-content;
}

@media (max-width: 2000px) {
  .about img {
  width: 50%;
  }
}
@media (max-width: 1500px) {
  .about img {
    display: none;
    width: 40%;
  }
}
@media (max-width: 600px) {
  .about img {
    display: none;
    width: 50%;
    }
}